* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    width: 650px;
    height: 400px;
    margin: 150px;
    background-image: url(./assets/background-defeat.png);
    background-repeat: no-repeat;
    background-position: center;
}

.boneco {
     display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 540px;
      
}

h1 {
    color: red;
    text-align: center;
    padding: 0 520px;
    font-size: 50px;
}

.xis {
    align-items: start;
    position: absolute;
    top: 22px;
    left: 1350px;
     transform: translateX(200%);
}